body {           
    background-image: url(/img/bet365.jpeg);  
    padding: 10px;      
}

.card{
    animation: alternate-reverse 1s timing-function delay iteration-count direction fill-mode;
    width: 12rem;
    font-size: 12px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }

    .fade-in {
        animation: fadeIn 0.5s ease-in-out;
    }
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}